doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        <link rel="stylesheet" href="styles.css">
    body 
        .mainCont
            button(class='btn' id='generate') Generate
            button(class='btn' id='fontUp') Up Font
            button(class='btn' id='fontDown') Down Font
        .secondCont
            div(id='number') 0
            div(id='font') text
        script(src="iterators.js")