body {
    box-sizing: border-box;
}

.mainCont {
    padding: 10em 20em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.secondCont {
    padding: 1em 20em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

button:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}