body {
  background-image: url(guit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainCont {
  padding: 20em 20em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.key {
  width: 15%;
  border: 0.5rem solid rgba(194, 142, 0, 0.705);
  border-radius: 1rem;
  margin: 20px;
  padding: 8px;
  -webkit-transition: all 0.07s ease;
  transition: all 0.07s ease;
  text-align: center;
  color: rgba(194, 142, 0, 0.705);
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  cursor: pointer;
}

kbd {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 800;
}

.key:hover, .playing {
  padding: 6px;
  font-size: xx-small;
  border: 0.3rem solid;
}