body {
    background-image: url(guit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.mainCont {
    padding: 20em 20em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.key {
    width: 15%;
    border: 0.5rem solid rgba(194, 142, 0, 0.705);
    border-radius: 1rem;
    margin: 20px;
    padding: 8px;
    transition: all .07s ease;
    text-align: center;
    color: rgba(194, 142, 0, 0.705);
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
}

kbd {
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 800;
}

.key:hover {
    padding: 6px;
    font-size: xx-small;
    border: 0.3rem solid;
}
