.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.677);
}

a:hover {
  transform: scale(1.1);
  color: rgba(0, 0, 0, 0.879);
}

.content {
  margin-top: 15px;
  height: 650px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.top-panel {
  border-radius: 10vh;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 60vw;
  justify-content: space-evenly;
  background-color: rgba(219, 212, 205, 0.508);
  padding: 15px 0;
}

.admin-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(219, 212, 205, 0.247);
  border-radius: 10vh;
  align-items: center;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.new-user-form {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

textarea {
  background-color: #f5f8fd;
  color: rgba(0, 0, 0, 0.355);
  border: solid 2px;
  border-color: rgba(0, 0, 0, 0.516);
  border-radius: 10vh;
  text-align: center;
}

input {
  background-color: #f5f8fd;
  color: rgba(0, 0, 0, 0.355);
  border: solid 2px;
  border-color: rgba(0, 0, 0, 0.516);
  border-radius: 10vh;
  text-align: center;
}

button {
  border-radius: 10vh;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  font-size:medium;
}

button:hover {
  cursor: pointer;
  transform:scale(96%);
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.805);
}

/* post */

.post-item {
  border: 1px solid #d2d9e7;
  background-color: #f5f8fd;
  padding: 10px 15px;
  margin: 20px;
  max-width: 440px;
  border-radius: 10px;
}

.post-item h4 {
  color: #424f6a;
}

.post-item p {
  color: #424f6a;
  font-size: 14px;
}

.userDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  height: 6vh;
}

.userPanel {
  padding: 5px 1px 0 8px;
  gap: 2px;
  align-items: flex-start;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 200;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  max-block-size: 200px;
}

.props.image {
  max-width: 200px;
  height: 300px;
  border-radius: 10px;
  border: #424f6a 1px;
}

.textDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 10% 20%;
  font-weight: 800;
}

/* dropDown */
.create-post-select {
  margin: 5px 0;
  padding: 12px;
  color: rgba(0, 0, 0, 0.633);
  border: solid 2px;
  border-color: rgba(0, 0, 0, 0.516);
  border-radius: 5px;
  resize: none;
  background-color: #f5f8fd;
  text-align: center;
}