* {
    box-sizing: border-box;
    color: #000000a4;
    background-color: rgba(117, 111, 102, 0.589);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    border-radius: 5em;
}

b {
    color: rgb(212, 207, 207);
}

table {
    border: 2px solid grey;
    border-radius: 3em;
    border-spacing: 5px;
    color: antiquewhite;
    margin-bottom: 1em;
    background: linear-gradient(45deg, #474340, #283236);
}

td {
    border: 1px solid gray;
    padding: 2em;
    width: 33em;
    height: 15em;
}
