.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.logo-div {
  width: 10vmin;
  height: 10vmin;
  background-color: rgba(255, 0, 38, 0.479);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}


input {
  background-color: transparent;
  padding: 10px;
  border: rgba(255, 255, 255, 0.76) solid 1px;
  border-radius: 3px;
  color:rgba(255, 255, 255, 0.76)
}

.sign-in-area, .sign-up-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

button {
  background-color: rgba(93, 216, 253, 0.756);
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.user-info-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.check-box-input {
  display: flex;
  justify-content: flex-start;
  color: antiquewhite;
  font-size: small;
}

.login-inputs-div {
  width: 272px;
}

.input-place {
  width: 250px;
}

.links-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  font-size: x-small;
  text-decoration: none;
  color: rgba(93, 216, 253, 0.756) !important;
}